<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /LibRBIF/
RewriteRule ^/LibRBIF/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /LibRBIF/index.html [L]
</IfModule>
